.pin {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    position: absolute;
    z-index: 100;
}

.player1 {
    width: 100px;
    height: 100px;
    background: blue;
    border: 3px black;
    opacity: 0;
    left: 10px;
    top: 10px;
}

.player2 {
    width: 100px;
    height: 100px;
    background: red;
    border: 3px black;
    opacity: 0;
    left: 10px;
    top: 10px;
}

.player3 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px black;
    opacity: 0;
    left: 10px;
    top: 10px;
}

.player4 {
    width: 100px;
    height: 100px;
    background: green;
    border: 3px black;
    opacity: 0;
    left: 10px;
    top: 10px;
}
