<!DOCTYPE html>

<html lang="en">

    <head>
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
        <link href="/static/hexes.css" rel="stylesheet">
        <link href="/static/players.css" rel="stylesheet">
    </head>

    <body>
        <div class="hexrow">
            <div id="1">
                <p class="p1">START</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div>
                <p class="p0"></p class="p0">
                <div></div>
                <div></div>
            </div>
            <div id="7">
                <p class="p1">7</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div>
                <p class="p0"></p class="p0">
                <div></div>
                <div></div>
            </div>
            <div id="12">
                <p class="p1">12, RISKY</p class="p1">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="hexrow">
            <div id="2">
                <p class="p1">2</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="3">
                <p class="p1" id="3p">3</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="6">
                <p class="p1">6</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="8">
                <p class="p1">8</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="11">
                <p class="p1">11</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="13">
                <p class="p1">13</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="16">
                <p class="p1">16</p class="p1">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="hexrow">
            <div>
                <p class="p1">0</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="4">
                <p class="p1">4</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="5">
                <p class="p1">5, RISKY</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="9">
                <p class="p1">9</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="10">
                <p class="p1">10</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="14">
                <p class="p1">14</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="15">
                <p class="p1">15</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="17">
                <p class="p1">17</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="18">
                <p class="p1">FINISH</p class="p1">
                <div></div>
                <div></div>
            </div>
        </div>

        <div id="pin1" class="pin"></div>

        <button onclick="move1()">Move1</button>
        <button onclick="move2()">Move2</button>
        <button onclick="move3()">Move3</button>
        <button onclick="move4()">Move4</button>
        <br></br>
        <button onclick="move1()"><img src="https://gifimage.net/wp-content/uploads/2017/10/dice-rolling-gif-1.gif" alt="" width=100 /></button>
        </br>
        <button onclick="movestart()">Back to start</button>

        <div id="player1" class="circleBase player1"></div>
        <div id="player2" class="circleBase player2"></div>
        <div id="player3" class="circleBase player3"></div>
        <div id="player4" class="circleBase player4"></div>
    </body>

    <script>
        var place1 = 1;
        var place2 = 1;
        var place3 = 1;
        var place4 = 1;

        function move(player, place){
            place += Math.ceil(Math.random() * 3);
            var pin = document.getElementById(place);
            var coor = pin.getBoundingClientRect();
            var d = document.getElementById(player);
            d.style.left = coor.left + "px";
            d.style.top = coor.top + 30 + "px";
            d.style.zIndex = 100;
            return place;
        }

        function move1(){
            place1 = move('player1', place1);
        }
        function move2(){
            place2 = move('player2', place2);
        }
        function move3(){
            place3 = move('player3', place3);
        }
        function move4(){
            place4 = move('player4', place4);
        }
        function movestart(){
            place0 = 1;
            var pin = document.getElementById(place0);
            var coor = pin.getBoundingClientRect();

            var d = document.getElementById('player1');
            d.style.left = coor.left + "px";
            d.style.top = coor.top + 30 + "px";
            d.style.zIndex = 100;

            var d = document.getElementById('player2');
            d.style.left = coor.left + "px";
            d.style.top = coor.top + 30 + "px";
            d.style.zIndex = 100;

            var d = document.getElementById('player3');
            d.style.left = coor.left + "px";
            d.style.top = coor.top + 30 + "px";
            d.style.zIndex = 100;

            var d = document.getElementById('player4');
            d.style.left = coor.left + "px";
            d.style.top = coor.top + 30 + "px";
            d.style.zIndex = 100;

            place1 = 1;
            place2 = 1;
            place3 = 1;
            place4 = 1;
        }
    </script>

</html>