<!DOCTYPE html>

<html lang="en">

    <head>
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
        <link href="/static/hexes.css" rel="stylesheet">
        <link href="/static/players.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body onload="init()">
        <table style="border-spacing: 30px">
            <tr>
                <th>Player</th>
                <th>Player</th>
            </tr>
            {% for player in boarddata %}
                <tr>
                    <td><div id='player1' class="circleBase player1"></div>Hoi</td>
                    <td style="width:30%">    </td>
                    {% if not playerturn %}
                        <td> {{ player["username"] }} </td>
                    {% else %}
                        <td style="font-weight: bold">{{ player["username"] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <td style="background: #a8effc"></td>
                <td>    </td>
                <td> Blue </td>
            </tr>
            <tr>
                <td style="background: #ffa4bc"></td>
                <td>    </td>
                <td> Pink </td>
            </tr>
            <tr>
                <td style="background: #a4ffe7"></td>
                <td>    </td>
                <td> Green </td>
            </tr>
            <tr>
                <td style="background: #dab9ea"></td>
                <td>    </td>
                <td> Purple </td>
            </tr>
        </table>
        <div class="hexrow">
            <div id="1" class="blue">
                <p class="p1">START</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div>
                <p class="p0"></p class="p0">
                <div></div>
                <div></div>
            </div>
            <div id="7" class="pink">
                <p class="p1">7</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div>
                <p class="p0"></p class="p0">
                <div></div>
                <div></div>
            </div>
            <div id="12" class="purple">
                <p class="p1">12, RISKY</p class="p1">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="hexrow">
            <div id="2" class="green">
                <p class="p1">2</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="3" class="pink">
                <p class="p1" id="3p">3</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="6" class="green">
                <p class="p1" class="green">6</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="8" class="purple">
                <p class="p1">8</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="11" class="pink">
                <p class="p1">11</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="13" class="blue">
                <p class="p1">13</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="16" class="purple">
                <p class="p1">16</p class="p1">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="hexrow">
            <div>
                <p class="p1">0</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="4" class="purple">
                <p class="p1">4</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="5" class="blue">
                <p class="p1">5, RISKY</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="9" class="blue">
                <p class="p1">9</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="10" class="green">
                <p class="p1">10</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="14" class="green">
                <p class="p1">14</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="15" class="pink">
                <p class="p1">15</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="17" class="blue">
                <p class="p1">17</p class="p1">
                <div></div>
                <div></div>
            </div>
            <div id="18" class="green">
                <p class="p1">FINISH</p class="p1">
                <div></div>
                <div></div>
            </div>
        </div>

        <div id="pin1" class="pin"></div>

        {% if risky %}
            <div id="risky" class="risky">
            <p><br></br><br></br><br></br></p>
            <p class="p2">Je staat op een risky vakje, risky business! Volgende beurt kan je 1 vooruit gaan, OF 2 ACHTERUIT!</p></div>
        {% endif %}

        {% if not playerturn %}
            <button style="margin-left: 20px"class="btn btn-outline-dark" type="button">Roll the dice!</button>
        {% else %}
            <button style="margin-left: 20px" class="btn btn-outline-dark" type="submit" onclick="roll_dice()"><img src="https://thumbs.gfycat.com/ElatedImpartialArmadillo-max-1mb.gif" width="50" height="30">Roll the dice!</button>
        {% endif %}
        <br></br>
        <button style="margin-left: 20px; margin-bottom: 20px" class="btn btn-outline-dark" onclick="movestart()">Logout</button>

        <div id="player1" class="circleBase player1"></div>
        <div id="player2" class="circleBase player2"></div>
        <div id="player3" class="circleBase player3"></div>
        <div id="player4" class="circleBase player4"></div>
    </body>

    <script>
        function init() {
            var data = '{{ boarddatajs|safe }}';
            data = JSON.parse(data);
            var maxlength = data.length - 1;
            for (i in data) {
                if (maxlength > -1 && i == 0) {
                var place1 = data[i]["place"];
                move1(place1);
                }
                if (i == 1) {
                    var place2 = data[i]["place"];
                    move2(place2);
                }
                if (i == 2) {
                    var place3 = data[i]["place"];
                    move3(place3);
                }
                if (i == 3) {
                    var place4 = data[i]["place"];
                    move4(place4);
                }
                if (maxlength == i) {
                    break;
                }
            }
        }

        function roll_dice() {
            var roomnumber = Number('{{ roomnumber }}');

            window.location.replace('/roll_dice/' + roomnumber);
        }

        function move(player, place, xoffset, yoffset){
            var pin = document.getElementById(place);
            var coor = pin.getBoundingClientRect();
            var d = document.getElementById(player);
            d.style.left = coor.left + xoffset + "px";
            d.style.top = coor.top + 30 + yoffset + "px";
            d.style.zIndex = 100;
            d.style.opacity = "1";
        }

        function move1(place1){
            move('player1', place1, 20, 20);
        }
        function move2(place2){
            move('player2', place2, 20, -20);
        }
        function move3(place3){
            move('player3', place3, -20, 20);
        }
        function move4(place4){
            move('player4', place4, -20, -20);
        }
        function movestart(){
            window.location.replace('/logout');
        }
    </script>

</html>