<link href="/static/hexes.css" rel="stylesheet">

<div class="hexrow">
    <div>
        <p class="p1">START</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p0"></p class="p0">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">7</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p0"></p class="p0">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">12, RISKY</p class="p1">
        <div></div>
        <div></div>
    </div>
</div>

<div class="hexrow">
    <div>
        <p class="p1">2</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">3</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">6</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">8</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">11</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">13</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">16</p class="p1">
        <div></div>
        <div></div>
    </div>
</div>

<div class="hexrow">
    <div>
        <p class="p1">0</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">4</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">5, RISKY</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">9</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">10</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">14</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">15</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">17</p class="p1">
        <div></div>
        <div></div>
    </div>
    <div>
        <p class="p1">FINISH</p class="p1">
        <div></div>
        <div></div>
    </div>
</div>
