{% extends "layout.html" %}

{% block title %}
    Join room
{% endblock %}

{% block main %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h4 class="card-title">Join an existing room</h4>
            <p class="card-text">Get your roomnumber from the player that created your room and choose a username.</p>
            <form action="/existingroom/" method="post">
                <div class="form-group">
                    <input class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="roomnumber" placeholder="Roomnumber" type="text">
                </div>
                <pre></pre>
                <button class="btn btn-outline-dark" type="submit">Play game!</button>
            </form>
        </div>
    </div>
{% endblock %}