{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Card content.</p>
            <p><a href="/newroom"><button class="btn btn-outline-dark" name="newroom">Create room</button></a></p>
            <p><a href="/existingroom"><button class="btn btn-outline-dark" name="existingroom">Join room</button></a></p>
            <p><a href="/login"><button class="btn btn-outline-dark" name="login">Login in room</button></a></p>
        </div>
    </div>
{% endblock %}
