{% extends "layout.html" %}

{% block title %}
    New Room
{% endblock %}

{% block main %}
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Card content.</p>
            <form action="/newroom" method="post">
                <div class="form-group">
                    <input class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div>
                    <select autocomplete="off" autofocus class="form-control" name="category" placeholder="Category" type="text">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
                <pre></pre>
                <button class="btn btn-outline-dark" type="submit">Get room number</button>
            </form>
        </div>
    </div>
{% endblock %}