{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}


{% block main %}
    <div id="container">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <div id="quiz" style="display:contents">
            <subtitle id="question">{{ data[0]|safe }}</subtitle>
            <div action="/answer_check/" id="choices">
                <button class="choice" id="A">{{ data[1]|safe }}</button>
                <button class="choice" id="B">{{ data[2]|safe }}</button>
                <p></p>
                <button class="choice" id="C">{{ data[3]|safe }}</button>
                <button class="choice" id="D">{{ data[4]|safe }}</button>
            </div>
            <div id="timer">
                <div id="counter"></div>
            </div>
            <progress value="0" max="15" id="progress"></progess>
        </div>
    </div>

    <script>
        // time left to answer question
        var timeleft = 15;
        var downloadTimer = setInterval(function() {
        document.getElementById("counter").innerHTML = timeleft;
        document.getElementById("progress").value = 15 - timeleft;
        timeleft -= 1;

            // return to board if time's up
            if(timeleft <= 0)
            {
                clearInterval(downloadTimer);
                swal("Time's up!", "Try not to doubt this long next time!");
                window.location.replace('/compute_turn/');
            }
        }, 1000);

        // check if answer is correct when a button is clicked
        $('button').click(function()
        {
            var your_answer = this.id;
            $.get('/answer_check/', {your_answer: your_answer}, function(response) {
                if (response == false)
                {
                    clearInterval(downloadTimer);
                    swal("Awww", "Unfortunately, that was not the correct answer!");
                    window.location.replace('/compute_turn/');
                }
                else
                {
                    clearInterval(downloadTimer);
                    swal("Well done!", "You gave the correct answer!");
                    window.location.replace('/compute_turn/');
                }
            }
            );
        });
    </script>

{% endblock %}