{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

{% block main %}
    <div id="container">
        <div id="start">Start Quiz!</div>
        <div id="quiz" style="display: none">
            <div id="question"></div>
            <div id="qImg"></div>
            <div id="choices">
                <div class="choice" id="A" onclick="checkAnswer('A')"></div>
                <div class="choice" id="B" onclick="checkAnswer('B')"></div>
                <div class="choice" id="C" onclick="checkAnswer('C')"></div>
                <div class="choice" id="D" onclick="checkAnswer('D')"></div>
            </div>
            <div id="timer">
                <div id="counter"></div>
                <div id="btimeGauge"></div>
                <div id="timeGauge"></div>
            </div>
            <div id="progress"></div>
        </div>
        <div id="scoreContainer" style="display: none"></div>
    </div>

    <script>
        function Question()
        {
            var URL = 'https://opentdb.com/api.php?amount=1&type=multiple';
            $.getJSON(URL, function(data)
            {
                // SVGComponentTransferFunctionElement.log(data)

                // create random integer for place of correct answer
                var getal = math.floor(math.random() * 4 + 2);
                if (getal > 5) {
                    (getal == 5);
                }

                // create an erray with the following order: question[0], correct answer[1], (3x incorrect answer + correct answer (in random order))[2 t/m 5]
                let q_a = [];
                q_a[0] = data["results"][0]["question"];
                q_a[1] = data["results"][0]["correct_answer"];

                for (var i = 2; i <= 5; i++)
                {
                    if (i < getal) {
                        (q_a[i] = data["results"][0]["incorrect_answers"][i - 2]);
                    }
                    else if (i > getal) {
                        (q_a[i] = data["results"][0]["incorrect_answers"][i - 3]);
                    }
                    else {
                        (q_a[i] = data["results"][0]["correct_answer"]);
                    }

                }
                return q_a;
            });
        }
    </script>

{% endblock %}
