{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

    <!-- Check this site for understanding -->
    <!-- https://github.com/CodeExplainedRepo/Multiple-Choice-Quiz-JavaScript -->

{% block main %}
    <div id="container">
        <div id="quiz" style="display:contents">
            <subtbuitle id="question">{{ data[0] }}</subtitle>
            <div action="/answer_check" id="choices">
                <button class="choice" id="A">{{ data[1] }}</button>
                <button class="choice" id="B">{{ data[2] }}</button>
                <button class="choice" id="C">{{ data[3] }}</button>
                <button class="choice" id="D">{{ data[4] }}</button>
            </div>
            <div id="timer">
                <div id="counter">15</div>
                <div id="btimeGauge"></div>
                <div id="timeGauge"></div>
            </div>
            <div id="progress"></div>
        </div>
        <div id="scoreContainer" style="display:contents"></div>
    </div>

    <script>
        $('button').click(function()
        {
            var your_answer = this.id
            $.get('/answer_check', {your_answer: your_answer}, function(response) {
                if (response == false)
                {
                    alert("Wrong answer!");
                    usleep(2000000);
                    window.location.replace('/compute_turn/');
                }
                else
                {
                    alert("Well done!");
                    usleep(2000000);
                    window.location.replace('/compute_turn/');
                }
            }
            );
        });
    </script>

{% endblock %}